@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #3666F4;
}

body {
    font-family: 'Poppins', sans-serif !important;
    cursor: url('./resources/cursor.png'), auto;
}

#left-content {
    width: 100%;
}

h1 {
    font-weight: 600;
}

h1 span {
    font-weight: 800;
    color: var(--primary-color);
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

#github-icon img, #linkedin-icon img {
    height: 25px;
}

#social-icons>a {
    transition: all ease 0.25s;
}

#social-icons>a:hover {
    transform: scale(1.2);
}

.skill {
    /* width: 100px; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.25s;
}

.skill:hover {
    box-shadow: 0 0.5rem 1rem rgba(54, 102, 244,0.33)!important;
}

@media (min-width: 1200px) { 

    #left-content {
        width: 50%;
    }

}